<!DOCTYPE html>
<html>
<head>
  <title>Avocado</title>
  <%= stylesheet_link_tag    "avocado/application", :media => "all" %>
  <%= javascript_include_tag "avocado/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <h1>REST API Documentation</h1>
    </div>
  </header>
  <section id="content" class="wrapper">
    <%= yield %>
  </section>
</body>
</html>
