/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require avocado/bootstrap
 *= require_self
 *= require_tree .
 */

html, body, #avocado {
  height: 100%;
  min-height: 100%;
}

#avocado {

  * {
    box-sizing: border-box;
  }

  ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #sidebar {
    height: 100%;
    width: 250px;
    padding: 0px 20px 20px 20px;
    border-right: 1px solid #dedede;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-y: scroll;

    & > li a {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      display: block;
    }

    ul.dropdown {

      li a {
        line-height: 22px;
        display: block;
        text-indent: 8px;
        font-size: 12px;
      }
    }
  }

  #requests {
    height: 100%;
    width: 45%;
    padding: 0 20px;
    margin-left: 250px;
    overflow: scroll;
    float: left;

    .request-endpoints {
      margin-bottom: 40px;

      li:first-child a {
        border-top: 1px solid #dedede;
      }

      li a {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #dedede;
        display: block;
        overflow: hidden;

        .status {
          color: #000;
          font-weight: bold;
          margin-left: 5px;
          font-size: 11px;
        }

        .url, .status {
          font-family: 'Monaco', 'Consolas', monospace;
        }

        .description {
          color: #333;
          font-size: 12px;
        }

        &:hover {
          text-decoration: none;
          background-color: #fafafa;
        }
      }
    }
  }

  #docs {
    height: 100%;
    color: #fff;
    background-color: #2c3e50;
    padding: 20px;
    overflow: scroll;

    h2 {
      margin-bottom: 20px;
    }

    h4, code {
      font-family: 'Monaco', 'Consolas', monospace;
    }

    h4 {
      margin-bottom: 10px;
      font-weight: bold;
    }

    code {
      display: block;
      margin-bottom: 15px;
      background: transparent;
      font-size: 12px;
      color: #fff;
      white-space: pre-wrap;
      word-break: break-word;
    }

    .request {
      display: none;
    }

    .request-parameters, .response-body, .example-headers {
      margin-bottom: 0;

      &:before {
        margin-bottom: -15px;
      }
    }

    code:before {
      color: #acb9bf;
      display: block;
      padding-bottom: 4px;
      text-transform: uppercase;
    }

    .example-headers:before { content: 'Headers'; }
    .request-parameters:before { content: 'Request Parameters'; }
    .response-status:before { content: 'Response Status'; }
    .response-body:before { content: 'Response Body'; }

  }
}
