/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 28px;
  line-height: 28px;
}

h2:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

#sidebar {
  width: 288px;
  float: left;
  position: relative;
}

#sidebar ul {
  width: 200px;
  margin: 0 20px 0 0;
  padding: 20px;
  list-style-position: inside;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
}

#sidebar ul li a {
  height: 24px;
  line-height: 24px;
  display: block;
}

#main {
  margin-left: 280px;
  float: left;
}

#main .scenario {
  margin-bottom: 5px;
}

#main .scenario a {
  height: 25px;
  color: #08c;
  display: block;
}

#main .scenario a i.caret {
  width: 0;
  height: 0;
  margin: 5px 5px 0 0;
  border-style: solid;
  border-width: 4px 0 4px 7px;
  border-color: transparent transparent transparent #08c;
  display: block;
  float: left;
}

#main .scenario a i.expanded {
  border-color: #08c transparent transparent transparent;
  border-width: 7px 4px 0 4px;
}

#main .scenario .scenario-details {
  display: none;
}

pre {
  margin: 20px 0 20px 10px;
  font-family: monospace !important;
  border: 1px solid red;
  padding: 20px 10px 10px 15px;
  font-size: 12px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  white-space: pre-wrap;
}

/* Header on the code blocks */
pre i {
  height: 14px;
  line-height: 14px;
  background-color: #3A87AD;
  color: #fff;
  white-space: normal;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: -9px;
  left: 10px;
}
