<div ng-controller="TopCtrl" class="top-bar">
  <select>
    <option ng-repeat="endpoint in endpoints"/>
      {{endpoint.resource.name}}
    </option>
  </select>
</div>
<div ng-controller="ListCtrl" class="left-side">
</div>
<div ng-controller="DetailCtrl" class="right-side">
</div>